body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.menu{
    display: flex;
    margin: 45px 3px;
    justify-content: flex-end;
}
.menu :hover{
    background-color: #2b2b2b;
    cursor: pointer;
    transition: all 200ms linear;
}

button{
    font-family: inherit;
    color: #fff;
    background-color: #030303;
    border: 1px solid #fff; 
    width: 100px;
    height: 30px;
}

.titulo{
    background-color: #030303;
}
h1{
    position: fixed;
    top: 0px;
    left: 0%;
    text-align: center;
    color: #fff;
    font-size: 2em;  
    width: 100%;
}

.logo { 
        position: absolute;
        top: 0px;
        left: 10%;
    margin: 0px;
}

.todos{
    display: inline-flex;
}

.perfume{
    width: 250px;
    height: 150px;
    border: 2.5px solid #030303;
    margin: 20px 0px 0px 0px;
    border-radius: 70px; 
}

.perfume-1{
    width: 250px;
    height: 150px;
    border: 2.5px solid #030303;
    margin: 20px 0px 0px 0px;
    border-radius: 70px; 
}

.meio{
    display: inline-flex;

}

.perfume-2{
    width: 250px;
    height: 150px;
    border: 2.5px solid #030303;
    margin: 20px 0px 0px 0px;
    border-radius: 70px; 
}
p{
    display: block;
    text-align: center;
}